<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.mapper.OrderMapper">
    <!--namespace="UserMapper"必写。namespace叫做名称空间-->
        <update id="updateOrders" parameterType="com.sky.entity.Orders">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null">
                cancel_time=#{cancelTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="turnoverStatistics" resultType="java.lang.Double">
        select sum(amount) from orders
        <where>
            <if test="status!=null">
                and status =#{status}
            </if>
            <if test="begin!=null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end!=null">
                and order_time &lt;= #{end}
            </if>
        </where>
    </select>

    <select id="ordersStatistics" resultType="java.lang.Integer">
        select count(id) from orders
        <where>
            <if test="begin!=null">
                and order_time &gt;=#{begin}
            </if>
            <if test="end!=null">
                and order_time &lt;=#{end}
            </if>
            <if test="status!=null">
                and status =#{status}
            </if>

        </where>
    </select>
    <select id="top10" resultType="com.sky.dto.GoodsSalesDTO">
        <!--多表查询，聚合查询，取别名，动态SQL，分组查询，排序处理，分页查询-->
        <!--当一个查询涉及到两张表的时候，你就应该想到多表查询，凡是涉及到多表查询一定会取别名-->
        select od.name name,sum(od.number) number from order_detail od,orders o where od.order_id=o.id and o.status=5
        <!--这里取别名的用处应该是对应上GoodsSalesDTO的两个属性-->
        <if test="begin!=null">
            and o.order_time &gt;= #{begin}
        </if>
        <if test="end!=null">
            and o.order_time &lt;= #{end}
        </if>
        group by name  <!--在这里对name进行了相同的放到一起，然后进行聚合查询，最后保留一条数据 name,number -->
        order by number desc
        limit 0, 10
    </select>
    <select id="overviewOrders" resultType="java.lang.Integer">
        select count(id) from orders
        <where>
            <if test="status!=null">
                and status=#{status}
            </if>
        </where>
    </select>
</mapper>



